doctype html
html(lang='en')
  head
  body.container
    h1 Estudiantes
    table
      thead
        tr
          th Nombre
          th edad
      tbody
        tr
          td
            | Erick
          td
            | 28
