
extends base.pug
block content
    .js-display.row
        .col-10
            .card.text-center.text-white.bg-primary.mb-3
                .card-header 
                    h1 Laboratorios Desarrollo 9
                .card-body
                    .btn-group-vertical
                        button.js-button-8.btn.btn-warning.btn-lg(type='button') Laboratorio 8
                        button.js-button-9.btn.btn-success.btn-lg(type='button').mt-3 Laboratorio 9
                        button.js-button-10.btn.btn-danger.btn-lg(type='button').mt-3 Laboratorio 10
block extra_js
    script(src="/public/js/main.js")
        