
extends base.pug

block content
    .row
        .card-body
            .btn-group-vertical(role='group', aria-label='Basic example')
                button.js-button-8.btn.btn-primary.btn-lg(type='button') Laboratorio 8
                button.js-button-9.btn.btn-primary.btn-lg(type='button') Laboratorio 9
                button.js-button-10.btn.btn-primary.btn-lg(type='button') Laboratorio 10

block extra_js
    script.
        (function(){
            var Module = {
                Controls:{
                    button8: document.querySelector('.js-button-8'),
                    button9: document.querySelector('.js-button-9'),
                    button10: document.querySelector('.js-button-10'),
                },
                Handlers:{
                    onClick: function(event){
                        event.preventDefault();
                        window.location.href = '/lab8/'
                    },
                },
                Methods: {
                    init: function(){
                        Module.Controls.button8.addEventListener('onclick', Module.Handlers.onClick);
                    }
                }
            }
            Module.Methods.init();
        })();